spring.application.name=MyUMRP
spring.datasource.url=jdbc:postgresql://localhost:5432/universalmediaapp
spring.datasource.username=postgres
spring.datasource.password=YOUR_PASSWORD_HERE

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true

tmdb.api.key=YOUR_TMDB_API_KEY_HERE
rawg.api.key=YOUR_RAWG_API_KEY_HERE
